body {
  background-color: #3F2559;
}

/*PORTADA*/
.portada {
  position: fixed;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../sources/acaiback.jpeg);
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 9;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  /*MAIN*/
}
.portada .main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.portada .main__titulo {
  font-size: 4rem;
  color: #F2F2F2;
  margin: 0;
}
.portada .main__parrafo {
  font-size: 1.4rem;
  color: #F2F2F2;
  font-weight: bold;
  letter-spacing: 2px;
}
.portada .main__boton {
  color: #A65698;
  border: 2px solid #F2F2F2;
  padding: 0.4rem;
  width: 40%;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.6s ease;
  border-radius: 10px;
}
.portada .main__boton:hover {
  background-color: #A65698;
  box-shadow: 0 0 10px 3px #F2F2F2;
  color: #F2F2F2;
}
.portada__btnuser {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  border: none;
  background: none;
  font-size: 1.5rem;
  color: #F2F2F2;
}
.portada__btnuser i {
  border-radius: 100%;
  border: 2px solid #A65698;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}
.portada__btnuser i:hover {
  box-shadow: 0 0 5px 3px #A65698;
  color: #2D1A40;
}

/*LOGIN*/
.login {
  position: fixed;
  z-index: 10;
  overflow-y: hidden;
  background: rgba(28, 28, 28, 0.5);
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 0.5rem;
  padding-bottom: 3rem;
}
.login__contenedor {
  width: clamp(300px, 100%, 40%);
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-47%, -50%);
}
.login__contenedor .form {
  background-color: rgba(166, 86, 151, 0.6431372549);
  padding: 1rem;
  height: 300px;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: space-evenly;
}
.login__contenedor .form__login {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}
.login__contenedor .form__login--two {
  flex-flow: row;
  justify-content: start;
}
.login__contenedor .form__label {
  font-weight: bold;
  font-size: 1.4rem;
  color: #F2F2F2;
}
.login__contenedor .form__control {
  width: 90%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #F2F2F2;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}
.login__contenedor .form__registrate {
  font-size: 1.1rem;
  color: #F2F2F2;
}
.login__contenedor .form__registrate a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #F2F2F2;
  font-weight: 600;
  border-bottom: 1px solid #F2F2F2;
}
.login__contenedor .form__btns {
  display: flex;
  width: 100%;
  gap: 10px;
}
.login__contenedor .form__btn {
  display: inline-block;
  width: 100%;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.175rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.login__contenedor .form__btn:hover {
  box-shadow: 0 0 5px 3px #F2F2F2;
}
.login__contenedor .form #btn-login,
.login__contenedor .form #btn-register {
  background-color: #A65698;
  color: #F2F2F2;
}
.login__contenedor .form #btn-cancel,
.login__contenedor .form #btn-cancel-register {
  background-color: #6c757d;
  color: #F2F2F2;
}
.login__contenedor .form__denegado {
  color: #D93636;
  margin-top: 0.5rem;
  display: none;
}
.login__contenedor .form--display {
  display: none;
}
.login .user {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(166, 86, 151, 0.6431372549);
  width: clamp(80%, 100vw, 60%);
  padding: 1.5rem;
  position: relative;
  height: 300px;
  border-radius: 20px;
}
.login .user__estado {
  margin: 0;
  font-size: 1.7rem;
  color: #F2F2F2;
}
.login .user__informacion {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
.login .user__name {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #F2F2F2;
  font-size: 1.2rem;
  font-weight: 500;
}
.login .user__name span {
  font-size: 1.4rem;
  font-weight: 600;
  color: #F2F2F2;
}
.login .user__logout {
  color: #A65698;
  border: 2px solid #F2F2F2;
  padding: 0.4rem;
  width: 40%;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.6s ease;
  width: 100%;
  border-radius: 15px;
}
.login .user__logout:hover {
  background-color: #A65698;
  box-shadow: 0 0 10px 3px #F2F2F2;
  color: #F2F2F2;
}
.login .user #user-out {
  position: absolute;
  top: 0;
  right: 5%;
  font-size: 1.6rem;
  color: #F2F2F2;
  cursor: pointer;
}
.login .user__display {
  display: none;
}

/*NAV*/
.contenedor {
  width: 100%;
  background-color: #3F2559;
  min-height: 100vh;
  overflow: hidden;
}
.contenedor__header {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #2D1A40;
  border-bottom: 1px solid #F2F2F2;
}
.contenedor__header .nav {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}
.contenedor__header .nav__logo {
  color: #F2F2F2;
  font-size: 1.4rem;
  cursor: pointer;
}
.contenedor__header .nav__logo--absolute {
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
}
.contenedor__header .nav__links {
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: start;
  gap: 2rem;
  background-color: rgba(63, 37, 89, 0.8235294118);
  width: 40%;
  padding: 1.3rem;
  position: fixed;
  z-index: 8;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 1024px) {
  .contenedor__header .nav__links {
    position: relative;
    flex-flow: row;
    padding: 0.3rem;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    background-color: #2D1A40;
    box-shadow: none;
  }
  .contenedor__header .nav__links .nav__logo {
    position: relative;
    top: 0;
    right: 0;
  }
  .contenedor__header .nav__links .nav__link {
    padding: 0;
    text-align: center;
  }
  .contenedor__header .nav__links .nav__link:first-of-type {
    margin-top: 0;
  }
}
.contenedor__header .nav__link {
  text-decoration: none;
  width: 100%;
  color: #F2F2F2;
  padding: 0.4rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 1.3rem;
}
.contenedor__header .nav__link:first-of-type {
  margin-top: 3.5rem;
}
.contenedor__header .nav__link:hover {
  border-radius: 10px;
  color: #A65698;
  border-bottom: 1px solid #F2F2F2;
}
.contenedor__header .nav--display {
  display: none;
}

/*SLOGAN*/
.slogan {
  width: 100%;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-radius: 8px;
}
.slogan .video {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.slogan .video video {
  width: 100%;
  height: 100%;
  transition: all 0.6s ease-in-out;
  object-fit: cover;
  object-position: center;
}
@media only screen and (min-width: 768px) {
  .slogan .video video {
    height: 500px;
  }
}
@media only screen and (min-width: 1024px) {
  .slogan .video video {
    height: 600px;
  }
}
.slogan .video__informacion {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 10%;
}
.slogan .video__titulo {
  margin: 0;
  font-size: 2.1rem;
  font-weight: bold;
  color: #A65698;
}
@media only screen and (min-width: 768px) {
  .slogan .video__titulo {
    font-size: 3.5rem;
  }
}
.slogan .video__parrafo {
  margin: 0;
  width: 70%;
  text-align: center;
  color: #F2F2F2;
  font-size: 1rem;
  font-weight: 800;
}
@media only screen and (min-width: 768px) {
  .slogan .video__parrafo {
    font-size: 2.3rem;
  }
}
.slogan .video::after {
  content: "";
  position: absolute;
  margin: 0 auto;
  inset: 0;
  border: 2px solid #A65698;
  border-radius: 8px;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.slogan .video:hover video {
  filter: contrast(1) brightness(0.2);
}
.slogan .video:hover::after {
  opacity: 1;
  inset: 20px;
}
.slogan .video--none {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .slogan {
    width: 95%;
    margin: 0 auto;
  }
}

/*BOWLS*/
.cardSeccion {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: start;
  padding: auto;
}
.cardSeccion__titulo {
  width: 90%;
  border-radius: 10px;
  padding: 0.4rem;
  background-color: #A65698;
  border: 1px solid #2D1A40;
  text-align: start;
  margin-left: 2px;
  transition: box-shadow 0.4s ease-in-out;
  cursor: pointer;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5058823529);
  color: #F2F2F2;
}
.cardSeccion__titulo:hover {
  box-shadow: 0 0 5px 3px #F2F2F2;
}

/*CARDS*/
.card {
  width: 100%;
  margin: 0 auto;
  padding-top: 3.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.card .bowls {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
  width: 100%;
  overflow: hidden;
}
.card .bowls__cont {
  width: 90%;
}
@media only screen and (min-width: 1024px) {
  .card .bowls__cont {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
  }
}
.card .bowls__imagenes {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: end;
  width: 300px;
  margin: 0 auto;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.card .bowls__imagenes:hover .bowls__texto {
  transition: height 1s, transform 1s, background-color 1s;
  transform: translateY(-7px);
  height: auto;
  background-color: rgba(63, 106, 138, 0.21);
}
.card .bowls__imagenes:hover .bowls__texto .bowls__descripcion,
.card .bowls__imagenes:hover .bowls__texto .bowls__price,
.card .bowls__imagenes:hover .bowls__texto .bowls__btn {
  transition: font-size 0 0.3s linear;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.card .bowls__imagenes:hover .bowls__texto h3 {
  padding-top: 1rem;
}
@media only screen and (min-width: 768px) {
  .card .bowls__imagenes {
    width: 400px;
    margin: 0 auto;
  }
}
.card .bowls #img {
  display: flex;
  justify-content: center;
}
.card .bowls__img {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
  height: 400px;
  width: 280px;
  border-radius: 15px;
  margin: 5px;
  object-fit: cover;
  object-position: center;
}
@media only screen and (min-width: 768px) {
  .card .bowls__img {
    width: 100%;
    height: 500px;
  }
}
.card .bowls__texto {
  overflow: hidden;
  position: absolute;
  transform: translateY(0);
  backdrop-filter: blur(20px);
  background-color: rgba(166, 86, 151, 0.6431372549);
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: center;
  width: clamp(250px, 100%, 35%);
  height: 4%;
  transition: 0.6s ease-in-out;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 9px;
}
.card .bowls__texto .bowls__descripcion,
.card .bowls__texto .bowls__price,
.card .bowls__texto .bowls__btn {
  color: #F2F2F2;
  font-size: 0;
  padding: 0.8rem;
}
@media only screen and (min-width: 1024px) {
  .card .bowls__texto {
    width: clamp(390px, 100%, 20%);
  }
}
.card .bowls__titulo {
  color: #F2F2F2;
  font-weight: 700;
  font-size: 1.6rem;
  padding-top: 5.5rem;
  margin: 0 auto;
}
.card .bowls__descripcion {
  text-align: justify;
  margin: 0 auto;
  margin-top: 20px;
}
.card .bowls__price {
  width: 100%;
}
.card .bowls__btn {
  padding: 1rem;
  width: 80%;
  border-radius: 10px;
  background-color: #D93636;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.card .bowls__atras, .card .bowls__adelante {
  padding: 0.4rem;
  font-size: 1.3rem;
  color: #F2F2F2;
  cursor: pointer;
  align-self: center;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .card .bowls__atras, .card .bowls__adelante {
    padding: 2rem;
    font-size: 2.5rem;
  }
}

.display {
  display: none;
}

.top--up {
  animation: to-up 1s ease;
  animation-fill-mode: forwards;
}

.from-up {
  animation: from-up 1s ease;
  animation-fill-mode: forwards;
}

.left {
  animation: left 1s ease;
  animation-fill-mode: forwards;
}

.right {
  animation: right 1s ease;
  animation-fill-mode: forwards;
}

@keyframes to-up {
  100% {
    transform: translateY(-100%);
  }
}
@keyframes from-up {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes right {
  100% {
    transform: translateX(100%);
  }
}

/*# sourceMappingURL=style.css.map */
